body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
 }

.logo{
    background-image: url(/img/spaceship.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;  
    left: 2vw;
    height: 3vw;
    width: 3vw;
}

nav h1{
    font-size: 2.5vw;
    font-weight:bolder;
    padding-left: 5vw;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6vw;
    padding: 4vw;
    font-weight:lighter;
    font-size: 1.5vw;
}

.menu img{
    display: none;
   
    
}

.hero{
    display: flex;
}

.left{
    width: 50%;
    flex-direction: column;
}

.left h1{
    font-weight: bolder;
    font-size: 4.3vw;
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 1vw;
}

.left h1 span{
    color:#6a2a8a;
}
.left h4{
    font-size: 1.5vw;
    font-weight: bolder;
    padding-left: 2vw;
    padding-right: 2vw;
}

.left button{
    display: flex;
    font-weight: bolder;
    font-size: 2vw;
    color: white;
    width: 20vw;
    height: 5vw;
    margin: 2vw;
    background-color: #EB5255;
    border: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
    padding-left: 3vw;
}

.right{
    width: 50%;
    background-image: url(/img/astro.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.right button{
    display: none;
}

/* Media query for mobile devices - hero and nav */
@media (max-width:600px){
    .menu h4{
      display: none;
    }
  
    .menu img{
      display: block;
      height: 30px;
      width: 30px;
      margin: 2vw;
    }
  
    nav h1{
      font-size: 20px;
      padding-left: 8vw;
    }
  
    .logo{
      height: 6vw;
      width: 6vw;
    }

    .left button{
        height:9vw;
        width:33vw;
        font-size: 4vw;
        font-weight: 700;
        display: none;
    }
    .right button{
        height:15vw;
        width:60vw;
        font-size: 6vw;
        font-weight: 700;
        display: flex;
        color: white;
        margin: 10vw;
        background-color: #EB5255;
        border: 0;
        border-radius: 6px;
        margin-top: 85vw;
        margin-left: 8vw;
        align-items: center;
        justify-content: center;
    }


    .left h1{
        font-size: 10vw;
        margin-left:2vw;
    }

    .left h4{
        font-size: 5vw;
        font-weight:300;
        margin-left:2vw;
        padding-right: 2vw;
        margin-top: 3vw;
    }

    .left{
        height: 70vw;
        width: 100vw;
        /* background-color: grey; */
    }

    .right{
     
        
        width: 100vw;
        height: 90vw ;
        /* background-color: #6a2a8a; */
        display: flex;
        justify-content: center;
    }
    
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

  }

  .missions{
    width: 100%;
    height: 35vw;
    background-color: #d6d6d65f;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .m-left{
    height:35vw;
    width:50%;
    /* background-color: #D09EF5; */
   
    background-repeat: no-repeat;
    background-size: contain;
  }

  .m-left img{
    width:32vw;
    height:32vw;
    padding-left: 9vw;
    padding-top: 0px;
  }
  .m-right{
    height:35vw;
    width:50%;
    /* background-color: rgb(255, 12, 166); */
    display: flex;
    align-items: center;
  
    flex-direction: column;
  }

  .m-right h1{
    font-weight: bolder;
    font-size: 3.5vw;
    
    padding-left: 2vw;
  }

  .m-right span{
    color:#6a2a8a;
  }

  .m-right h4{
    padding-left:2vw;
    padding-right:2vw;
    font-size: 1.5vw;
    margin-top: 0;
  }

  .m-right button{
    display: flex;
    font-weight: bolder;
    font-size: 2vw;
    color: white;
    width: 20vw;
    height: 5vw;
   background-color: #EB5255;
    border: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spacecrafts{
    width: 100%;
    height: 35vw;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .s-right{
    height:35vw;
    width:50%;
    /* background-color: #D09EF5; */
   
    background-repeat: no-repeat;
    background-size: contain;
  }

  .s-right img{
    width:32vw;
    height:32vw;
    padding-left: 9vw;
    padding-top: 0px;
  }
  .s-left{
    height:35vw;
    width:50%;
    /* background-color: rgb(255, 12, 166); */
    display: flex;
    align-items: center;
    justify-content: center;
  
    flex-direction: column;
  }

  .s-left h1{
    font-weight: bolder;
    font-size: 3.5vw;
    
    padding-left: 2vw;
  }

  .s-left span{
    color:#6a2a8a;
  }

  .s-left h4{
    padding-left:2vw;
    padding-right:2vw;
    font-size: 1.5vw;
    margin-top: 0;
  }

  .s-left button{
    display: flex;
    font-weight: bolder;
    font-size: 1.7vw;
    color: white;
    width: 20vw;
    height: 5vw;
    margin-left: 1vw;
    background-color: #EB5255;
    border: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .m-left button{
    display: none;
  }

/* Media queries for missions  and spacecrafts section */

  @media (max-width:600px){

    .missions{
     height: 150vw;
     display: flex;
     margin-top: 15vw;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: column-reverse;
    }

    .m-left{
      width: 100vw;
      /* background-color: #6a2a8a; */
      height: 90vw;
      position: relative;
    }

    .m-left img{
      height: 70vw;
      width: 70vw;
      position: absolute;
      bottom: 10vw;
      left:10vw;
    }
    .m-right{
      /* background-color: #ff0505; */
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items:center;
      
      height: 60vw;
    }

    .m-left button{
      display: flex;
      font-weight: bolder;
      font-size: 5vw;
      color: white;
      width: 50vw;
      height: 11vw;
      margin-left: 1vw;
      background-color: #EB5255;
      border: 0;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 4vw;
      left:24vw;

    }

    .m-right button{
      display: none;
    }

    .m-right h1{
      font-size: 9vw;
      padding: 0vw 2vw;
      margin-top:20vw
    }
    .m-right h4{
      font-size: 5vw;
      font-weight: lighter;
      padding: 2vw 2vw;
      margin: 0;
    }

    .spacecrafts{
     height: 125vw;
     display: flex;
     margin-top: 13vw;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: column;
    }

    .s-right{
      width: 100vw;
      /* background-color: #6a2a8a; */
      height: 90vw;
      position: relative;
    }

    .s-right img{
      height: 70vw;
      width: 70vw;
      position: absolute;
      bottom: 10vw;
      left:10vw;
    }
    .s-left{
      /* background-color: #ff0505; */
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items:center;
      
      height: 60vw;
    }

    .s-right button{
      display: flex;
      font-weight: bolder;
      font-size: 4.5vw;
      color: white;
      width: 50vw;
      height: 11vw;
      margin-left: 1vw;
      background-color: #EB5255;
      border: 0;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 4vw;
      left:24vw;

    }

    .s-left button{
      display: none;
    }

    .s-left h1{
      font-size: 9vw;
      padding: 0vw 2vw;
      margin:0.5vw ;
    }
    .s-left h4{
      font-size: 5vw;
      font-weight: lighter;
      padding: 2vw 2vw;
      margin: 0;
    }
  }
 
