body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
 }

.logo{
    background-image: url(/img/spaceship.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;  
    left: 2vw;
    height: 3vw;
    width: 3vw;
}

nav h1{
    font-size: 2.5vw;
    font-weight:bolder;
    padding-left: 5vw;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6vw;
    padding: 4vw;
    font-weight:lighter;
    font-size: 1.5vw;
}

.menu img{
    height: 30px;
    width: 30px;
    margin: 2vw;
    display: none;
}

.hero{
    display: flex;
}

.left{
    width: 50%;
    height: calc(100vh - 60px);
    flex-direction: column;
}

.left h1{
    font-weight: bolder;
    font-size: 4.3vw;
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 1vw;
}

.left h1 span{
    color:#6a2a8a;
}
.left h4{
    font-size: 1.5vw;
    font-weight: bolder;
    padding-left: 2vw;
    padding-right: 2vw;
}

.left button{
    display: flex;
    font-weight: bolder;
    font-size: 1.5vw;
    color: white;
    width: 18vw;
    height: 4vw;
    margin: 2vw;
    background-color: #EB5255;
    border: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
}

.right{
    width: 50%;
    background-image: url(/img/astro.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.right button{
    display: none;
}

/* Media query for mobile devices */
@media (max-width:600px){
    .menu h4{
      display: none;
    }
  
    .menu img{
      display: block;
    }
  
    nav h1{
      font-size: 20px;
      padding-left: 8vw;
    }
  
    .logo{
      height: 6vw;
      width: 6vw;
    }

    .left button{
        height:9vw;
        width:33vw;
        font-size: 4vw;
        font-weight: 700;
        display: none;
    }
    .right button{
        height:15vw;
        width:60vw;
        font-size: 6vw;
        font-weight: 700;
        display: flex;
        color: white;
        margin: 10vw;
        background-color: #EB5255;
        border: 0;
        border-radius: 6px;
        margin-top: 85vw;
        margin-left: 8vw;
        align-items: center;
        justify-content: center;
    }


    .left h1{
        font-size: 10vw;
    }

    .left h4{
        font-size: 5vw;
        font-weight:300;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 3vw;
    }

    .left{
        height: 70vw;
        width: 100vw;
        /* background-color: grey; */
    }

    .right{
     
        
        width: 100vw;
        height: 90vw ;
        /* background-color: #6a2a8a; */
        display: flex;
        justify-content: center;
    }
    
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;

    }


  
  }



